@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

header{
display: flex;
  flex-direction: row;
}
main{
display: flex;
  flex-direction: row;
}
